.sidebar-list-item{
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff !important;
  cursor: pointer !important;
}

.sidebar-list-item > .Mui-selected{
  color: #000;
  background: #fff;
  border-radius: 6px;
}